/* AUTHENTICATION */

#leftAuthentication {
  width: 100%;
  min-height: 100%;
}

#leftAuthentication .wrapAuth {
  width: 100%;
}

#leftAuthentication .wrapAuth .leftAuth {
  flex: 1;
  float: left;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: auto;
  overflow: hidden;
}

#leftAuthentication .wrapAuth .leftAuth::after {
  content: "";
  background-color: #EFC81A;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 70%;
}

#leftAuthentication .wrapAuth .leftAuth .logo {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

/* CHECKBOX */

#rightAuthentication .checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#rightAuthentication .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#rightAuthentication .custom-checkbox {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#rightAuthentication .checkbox-container input:checked+.custom-checkbox {
  background-color: yellow;
}

#rightAuthentication .custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
}

#rightAuthentication .checkbox-container input:checked+.custom-checkbox::after {
  display: block;
}

#rightAuthentication .checkbox-container .custom-checkbox::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid gray;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}



/* LANDING PAGE */
#landingpage {
  width: 100%;
  min-height: 100%;
}

#landingpage .header-container {
  width: 100%;
}

#landingpage .header-container .header-wrapper {
  display: flex;
  height: 700px;
  background: linear-gradient(to right,
      #FFF5EC 0%,
      #FFF5EC 70%,
      #EFC81A 0%,
      #EFC81A 30%);
}

#landingpage .grid-container,
#findrecipe .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  padding: 20px;
}

#landingpage .grid-item,
#findrecipe .grid-item {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination-container .pagination {
  display: flex;
  align-items: center;
}

.text-border {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black,
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
}


/* Login & Register Mobile */
@media (max-width: 700px) {
  #leftAuthentication {
    display: none;
  }  

  #rightAuthentication {
    padding: 20px;
  }

  #rightAuthentication .darkMode {
    position: absolute;
    right: 20px;
  }

  #rightAuthentication .logincontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #rightAuthentication .logincontainer h1,
  #rightAuthentication .logincontainer p {
    text-align: center;
  }

  #rightAuthentication .textfieldlogin {
    width: 100%;
    padding: 0 20px;
  }

  #rightAuthentication .textfieldlogin .textfield {
    width: 100%;
    left: 0;
  }

  #rightAuthentication .flex.items-start.py-5.px-20 {
    justify-content: center;
    padding: 0 20px;
  }

  #rightAuthentication .pl-96.py-5 {
    text-align: center;
    padding: 0;
  }

  #landingpage .first-line {
    top: 350px;
  }

  #landingpage .second-line {
    bottom: 50px;
    left: 50px;
  }

  #landingpage .bg-popular2 {
    display: none;
  }

  #landingpage .third-line {
    position: relative;
    top: 250px;
    right: 250px;
  }

  #landingpage .popular-recipe {
    padding-top: 30px;
  }

  #landingpage .grid-container,
  #findrecipe .grid-container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    gap: 10px;
  }

  #landingpage .grid-item,
  #findrecipe .grid-item {
    margin-bottom: 20px;
  }

  #landingpage .pagination {
    padding-left: 150px;
  }

  #find-recipe .search-recipe {
    width: 90%;
  }

  #sortOptions {
    width: 90%;
    position: relative;
    left: 15px;
  }

  .pagination-recipe {
    justify-content: center;
  }
}